.strat__screen {
    padding: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1020px) {
      padding: 0px 0px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @media (max-width: 870px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .start__screen__container {
      padding: 60px 15px;
      @media (max-width: 1020px) {
        padding: 0px 15px;
      }
      @media (max-width: 870px) {
        width: 460px;
        margin: 0px auto 40px;
      }
      @media (max-width: 600px) {
        text-align: center;
      }
      @media (max-width: 321px) {
        width: 300px;
        padding: 0px 5px;
        margin: 0px auto 100px;
      }
  
      .container__head {
        width: 310px;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 44px;
        font-family: Georgia, "Times New Roman", Times, serif;
        line-height: 57.2px;
        color: #ffffff;
        @media (max-width: 1020px) {
          width: 270px;
          margin-bottom: 30px;
          font-weight: 400;
          font-size: 30px;
          font-family: Georgia, "Times New Roman", Times, serif;
          line-height: 50px;
          color: #ffffff;
        }
        @media (max-width: 870px) {
          width: 270px;
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 30px;
          font-family: Georgia, "Times New Roman", Times, serif;
          line-height: 35px;
          color: #ffffff;
        }
        @media (max-width: 600px) {
          width: 150px;
          margin: 0 auto 20px;
          font-weight: 200;
          font-size: 21px;
          font-family: Georgia, "Times New Roman", Times, serif;
          line-height: 28px;
          color: #ffffff;
        }
        @media(max-width:321px){
          width: 250px;
          margin: 0 auto 20px;
          padding: 10px;
          font-weight: 400;
          font-size: 25px;
          font-family: Georgia, "Times New Roman", Times, serif;
          line-height: 32.5px;
          color: #ffffff;
        }
      }
      .container__description {
        width: 460px;
        margin-bottom: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #cdcdcd;
        line-height: 24px;
        @media (max-width: 1020px) {
          width: 360px;
          margin-bottom: 30px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 400;
          font-size: 13px;
          color: #cdcdcd;
          line-height: 20px;
        }
        @media (max-width: 870px) {
          width: 360px;
          margin-bottom: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 400;
          font-size: 13px;
          color: #cdcdcd;
          line-height: 20px;
        }
        @media (max-width: 600px) {
          width: 250px;
          margin: 0 auto 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 200;
          font-size: 11px;
          color: #cdcdcd;
          line-height: 16px;
        }
        @media(max-width:321px){
          width: 250px;
          text-align: center;
          margin: 0 auto 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 400;
          font-size: 15px;
          color: #cdcdcd;
          line-height: 24px;
        }
      }
      .container__btn {
        cursor: pointer;
        width: 207px;
        height: 52px;
        border: 1px solid #f1cdb3;
        border-radius: 100px;
        padding: 15px 45px;
        background-color: #f1cdb3;
        color: #000000;
        font-size: 17px;
        line-height: 22.1px;
        letter-spacing: 6%;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: 400;
        transition: 0.5s;
        &:hover {
          border: 1px solid #f1cdb3;
          background-color: #fff;
        }
        @media (max-width: 1020px) {
          cursor: pointer;
          width: 180px;
          height: 42px;
          border: 1px solid #f1cdb3;
          border-radius: 100px;
          padding: 15px 45px;
          background-color: #f1cdb3;
          color: #000000;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: 6%;
          font-family: Georgia, "Times New Roman", Times, serif;
          font-weight: 400;
          transition: 0.5s;
          &:hover {
            border: 1px solid #f1cdb3;
            background-color: #fff;
          }
        }
      }
    }
    .screen__image {
      width: 602px;
      height: 602px;
      img {
        width: 100%;
        height: 100%;
      }
      @media (max-width: 1122px) {
        width: 500px;
        height: 500px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      @media (max-width: 1020px) {
        width: 450px;
        height: 450px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      @media (max-width: 600px) {
        width: 300px;
        height: 300px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      @media (max-width: 321px) {
        width: 260px;
        height: 260px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  